a{
    color: red;
    font-size: 20px; 
}

html{
   
}
li{
    color:red;
   
 
}
header{



}
#naam{
    color: red;
    font-size: 30px;
}


ul{
    display:inline-block;
    
    list-style-type: none;
    margin:0;
    padding:0;
}
li a {
    display: block;
    width:110px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 125px;
    background-color: white;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color:red;
    color: white;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
  ul {
    border: 1px solid #555;
  }
  
  li {
   
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
 h1{
     color:white;
     
     text-align: center;
     font-size: 50px;
     
 }
 body{
  background-image: url("images/star-clusters-67616_1920.jpg");
  background-repeat:no-repeat;
  background-position: 100%;
}
h2{
  color:white;
  text-align:center;
  font-size:25px;
}